*{
  padding: 0;
  margin: 0;
}
header{
  background-image: url(../imagenes/bgi.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.iz{
  margin-left: 5%;
  padding-top: 30px;
}
.iz span {
  color:rgba(255, 255, 255, 0.4);
  margin-left: 10px;
  font-weight: lighter;
  font-size: 2.1em;
}
.der{
  float: right;
  margin-right: 5%;
  margin-top: -30px;
}
.der span {
  color:rgba(255, 255, 255, 0.4);
  margin-left: 15px;
  font-size: 1.9em;
}
header h2{
  color:#fff;
  font-size: 1.9em;
  margin-top: 260px;
  margin-left: 10%;
}
 header p{
   color:rgba(255, 255, 255, 0.6);
   font-size: 1.2em;
   margin-left: 10%;
 }
 .canciones{
   background: #000;
   height: 290px;
 }
 .nivel1 {
   padding-top: 10px;
   display: flex;
   flex-flow: wrap;
 }
 .musizq {
  width: 25%;

 }
 .musizq .fa{
  color:#fff;
  float: left;
  margin-left: 10%;
  margin-top: 25px;
 }
 .musizq img{
 height: 45px;
 float: right;
 margin-right: 15%;
 margin-top: 10px;
 }
 .musder{
width: 75%;
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 }
 .musder h5{
   color: #fff;
 }
 .musder h6{
   color:#fff;
   font-size: .9em;
   font-weight: lighter;
 }
 .musder p{
   color:#fff;
   float: right;
   margin-top: -25px;
   font-size: .9em;
   margin-right: 6%;
 }
 .repro{
 background-color: #c81e47;
 border-radius: 50%;
 width: 4.5em;
 height: 4.5em;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1000;
 position: absolute;
 margin-left: 77.5%;
 margin-top: -40px;
 }
 .repro .fa {
   color:#fff;
   margin-left: 10%;
 }
